<header>
    <div class = "container">
        <div class = "row">
            <div class = "col-sm-12 p-flex p-flex-align-center p-flex-jc-sb">
                <ul>
                    <li>
                        <mat-slide-toggle>Dark Theme</mat-slide-toggle>
                    </li>
                <!--<ul>
                     HAMBURGER MENU, INACTIVE
                        <li class = "p-hamburger" >
                        <span onclick= "javascript:alert('event triggered');"></span>
                        <span onclick= "javascript:alert('event triggered');"></span>
                        <span onclick= "javascript:alert('event triggered');"></span>
                    </li> -->
                    <!-- SEARCH ICON , INACTIVE
                        <li class = "search">
                        <img class = "p-cursor" src="assets\images\001-search.png" alt="Search icon" width="20" />
                    </li> 
                </ul>-->
                </ul>
                <ul>
                    <li>
                        <a href = "#">Landing</a>
                    </li>
                    <li>
                        <a href = "/home-component">Home</a>
                    </li>
                    <li>
                        <a class = "portfolio"routerLink="/portfolio-component" routerLinkActive="active">Projects</a>
                    </li>
                    <li>
                        <a href = "/contact-component">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>