<section>
    <div class = "container">
        <div class = "row">
            <div class = "col-sm-5">
                <div class="p-profile"></div>
            </div>
            <div class="col-sm-7">
                <span class = "p-tag">Developer</span>
                <h1 class ="mt-4">Robert Lillyblad</h1>
                <p class = "p-des mt-3">The purpose of this page is to display personal projects and 
                </p>
                <a class = "p-link"href="">Read More <img src="../../assets/images/arrow.png" alt="Arrow icon" width="18"/>
                </a>
            </div>
        </div>
    </div>
    
</section>