.welcomeBackground{
    background-image: url("../../assets\images\background.jpg");
    height: 937px;
    width: 100%;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    margin: auto;
}
.welcome{
    color: rgb(255, 255, 255);
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 50px;
    font-weight: 0;
    width: 130px;
    height: 500px;
    position: absolute;
    left: 49.5%;
    top: 50%; 
    margin-left: -65px;
    margin-top: -250px;
}
.p-link{
    color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);

}