
    <!--HEADER-->
<app-header></app-header>

<div class = "projectContainer">
    <p class = "title">Universal Directory Visualizer</p>
        <p class = "team"> This project was developed by myself and my three team members in our CS458 senior capstone class. We built the application with as an electron app consisting of a java backend connecting to angular/nodejs frontend. 
        </p>
        <p class = "team"> We built the application with as an electron app consisting of a java backend connecting to angular/nodejs frontend. 
        </p>
        
        <p class = "purpose"> The application prompts the user to select a file system or drive in their local storage, recursively storing the nested folders and files into hashmaps which are sent to the frontend to be displayed. The idea was to display the files as a series of blocks dependant on the size of file, making it easy for the user to select a box and see what is taking up space in specific folders/drives. 
        </p>
        <p></p>
        <p class = purpose>Source <a class = "githubLink" href="https://github.com/Slad3/UniversalDirectoryVisualizer"><img class = "arrow" src="/../../assets/images/arrow.png" alt=""></a></p>
        <img src="/../../assets/images/UDVSS.jpg" alt="" class="udv">

</div>
<p class="spacer"></p>
<div class = "projectContainer">
    <p class = "title">Aim World</p>
        <p class = "team"> This game was developed by myself in UE4. It's an arcade shooter to help improve your aim by tracking your scores. Key features include a custom FPS weapon and coresponding animations and sounds, multiple levels of difficulty and target selection which are all modifyable through the custom shootable menu, and health/ammo/score tracking built into the HUD.
        </p>
        <p></p>
        <p class = purpose>Source <a class = "githubLink" href="https://github.com/Joello24/UE4-AimWorld"><img class = "arrow" src="/../../assets/images/arrow.png" alt=""></a></p>
        <img src="/../../assets/images/aimGod1.jpg" alt="" class="udv">
        <img src="/../../assets/images/aimGod2.jpg" alt="" class="udv">

</div>
<p class="spacer"></p>

<div class = "projectContainer">
    <p class = "title">Security as Code</p>
        <p class = "team"> The goal of this project was to demonstrate an insecure + secure login authentication using angular/nodejs. Provided in the github is a step by step lab for students in my CNIT-484, Advanced Network Security and Auditing class(and anyone else who's interested) to setup the development environment and attempt to hack the secure login.  
        </p>
        <p></p>
        <p class = purpose>Source <a class = "githubLink" href="https://github.com/Joello24/SecurityAsCode"><img class = "arrow" src="/../../assets/images/arrow.png" alt=""></a></p>
        <img src="/../../assets/images/securityAsCode.jpg" alt="" class="udv">
        


</div>

