<header>
    <div class = "container">
        <div class = "row">
            <div class = "col-sm-12 p-flex p-flex-align-center p-flex-jc-sb">
                <ul>
                    <li class = "p-hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </li>
                    <li class = "search">
                        <img class = "p-cursor" src="assets\images\001-search.png" alt="Search icon" width="20" />
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href = "#">Home</a>
                    </li>
                    <li>
                        <a href = "/about-component">About</a>
                    </li>
                    <li>
                        <a class = "portfolio"routerLink="/portfolio-component" routerLinkActive="active">Portfolio</a>
                    </li>
                    <li>
                        <a href = "/contact-component">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>